.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.project-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: scroll;
    padding: 50px 100px;
}

.project-modal .content {
    width: 100%;
    background-color: rgb(35, 35, 35);
}

.project-modal .content .image {
    width: 100%;
}

.project-modal .close {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
}