.project {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 40px 80px;
    color: white;
}

.project.left {
    background-color: rgb(45, 45, 45);
    flex-direction: row;
}

.project.right {
    background-color: rgb(40, 40, 40);
    flex-direction: row-reverse;
    text-align: right;
}

.project .image {
    height: 100%;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

.project .info {
    padding: 50px;
}